project:
  type: website
  search: true
  google-analytics: "G-38FCH31VEK" # Replace with your Google Tag ID
  

website:
  title: "moku"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

